.main {
    padding-top: 5em;
    padding-bottom: 4em;
    max-width: 1500px;
    min-height: 90vh;
    margin: auto;
  }

  .full-width {
    width: 100%;
    padding: 1em;
    flex-direction: inherit;
  }