.inner-flex {
  max-width: 1500px;
  min-height: 100vh;
  display: flex;
  margin: auto;
  padding-bottom: 4em;
}

.button {
  margin-left: 1em;
}

.example-action-buttons {
  max-width: 1500px;
  margin: auto;
  padding-top: 5em;
}

table {
  width: 100%;
}

.pokemon-info {
  width: 75%;
}

@media only screen and (min-width: 320px) and (max-width: 1500px) {
  .pokemon-info {
    width: 100%;
  }
}

.mat-column-levelLearned {
  max-width: 32px;
}

.mat-column-power {
  max-width: 32px;
}

.mat-column-accuracy {
  max-width: 32px;
}

.mat-column-type {
  max-width: 48px;
}

.mat-column-category {
  max-width: 48px;
}

.mat-column-name {
  max-width: 48px;
}

div.mat-expansion-panel-body {
  padding: 0 !important;
}

div[id="Grass-Card"] {
  border: solid;
  border-radius: 1em;
  border-color: #78c850 !important;
}

div[id="Poison-Card"] {
  border: solid;
  border-radius: 1em;
  border-color: #a040a0 !important;
}

div[id="Normal-Card"] {
  border: solid;
  border-radius: 1em;
  border-color: #a8a878 !important;
  background-color: #a8a878 !important;
}

div[id="Fire-Card"] {
  border: solid;
  border-radius: 1em;
  border-color: #f08030 !important;
}

div[id="Fighting-Card"] {
  border: solid;
  border-radius: 1em;
  border-color: #c03028 !important;
}

div[id="Water-Card"] {
  border: solid;
  border-radius: 1em;
  border-color: #6890f0 !important;
}

div[id="Flying-Card"] {
  border: solid;
  border-radius: 1em;
  border-color: #a890f0 !important;
}

div[id="Electric-Card"] {
  border: solid;
  border-radius: 1em;
  border-color: #f8d030 !important;
}

div[id="Ground-Card"] {
  border: solid;
  border-radius: 1em;
  border-color: #e0c068 !important;
}

div[id="Psychic-Card"] {
  border: solid;
  border-radius: 1em;
  border-color: #f85888 !important;
}

div[id="Rock-Card"] {
  border: solid;
  border-radius: 1em;
  border-color: #b8a038 !important;
}

div[id="Ice-Card"] {
  border: solid;
  border-radius: 1em;
  border-color: #98d8d8 !important;
}

div[id="Bug-Card"] {
  border: solid;
  border-radius: 1em;
  border-color: #a8b820 !important;
}

div[id="Dragon-Card"] {
  border: solid;
  border-radius: 1em;
  border-color: #7038f8 !important;
}

div[id="Ghost-Card"] {
  border: solid;
  border-radius: 1em;
  border-color: #705898 !important;
}

div[id="Dark-Card"] {
  border: solid;
  border-radius: 1em;
  border-color: #705848 !important;
}

div[id="Steel-Card"] {
  border: solid;
  border-radius: 1em;
  border-color: #b8b8d0 !important;
}

div[id="Fairy-Card"] {
  border: solid;
  border-radius: 1em;
  border-color: #ee99ac !important;
}

button[value="Grass"] {
  background-color: #78c850 !important;
}

button[value="Poison"] {
  background-color: #a040a0 !important;
}

button[value="Normal"] {
  background-color: #a8a878 !important;
}

button[value="Fire"] {
  background-color: #f08030 !important;
}

button[value="Fighting"] {
  background-color: #c03028 !important;
}

button[value="Water"] {
  background-color: #6890f0 !important;
}

button[value="Flying"] {
  background-color: #a890f0 !important;
}

button[value="Electric"] {
  background-color: #f8d030 !important;
}

button[value="Ground"] {
  background-color: #e0c068 !important;
}

button[value="Psychic"] {
  background-color: #f85888 !important;
}

button[value="Rock"] {
  background-color: #b8a038 !important;
}

button[value="Ice"] {
  background-color: #98d8d8 !important;
}

button[value="Bug"] {
  background-color: #a8b820 !important;
}

button[value="Dragon"] {
  background-color: #7038f8 !important;
}

button[value="Ghost"] {
  background-color: #705898 !important;
}

button[value="Dark"] {
  background-color: #705848 !important;
}

button[value="Steel"] {
  background-color: #b8b8d0 !important;
}

button[value="Fairy"] {
  background-color: #ee99ac !important;
}
