poke-fall/package-lock.json
poke-fall-api/.vs/poke-fall-api/DesignTimeBuild/.dtbcache.v2
poke-fall-api/.vs/poke-fall-api/FileContentIndex/9e264109-bea6-428e-9293-de8b1cabd42a.vsidx
poke-fall-api/.vs/poke-fall-api/FileContentIndex/read.lock
poke-fall-api/.vs/poke-fall-api/v17/.suo

*.dll
poke-fall-api/obj/poke-fall-api.csproj.nuget.g.props
poke-fall-api/obj/poke-fall-api.csproj.nuget.g.targets
poke-fall-api/obj/poke-fall-api.csproj.nuget.dgspec.json
poke-fall-api/obj/project.assets.json
poke-fall-api/obj/project.nuget.cache
poke-fall-api/obj/Debug/net7.0/apphost.exe
poke-fall-api/obj/Debug/net7.0/poke-fall-api.AssemblyInfoInputs.cache
poke-fall-api/obj/Debug/net7.0/poke-fall-api.assets.cache
poke-fall-api/obj/Debug/net7.0/poke-fall-api.csproj.AssemblyReference.cache
poke-fall-api/obj/Debug/net7.0/poke-fall-api.csproj.CopyComplete
poke-fall-api/obj/Debug/net7.0/poke-fall-api.csproj.CoreCompileInputs.cache
poke-fall-api/obj/Debug/net7.0/poke-fall-api.csproj.FileListAbsolute.txt
poke-fall-api/obj/Debug/net7.0/poke-fall-api.genruntimeconfig.cache
poke-fall-api/obj/Debug/net7.0/poke-fall-api.MvcApplicationPartsAssemblyInfo.cache
poke-fall-api/obj/Debug/net7.0/poke-fall-api.pdb
poke-fall-api/obj/Debug/net7.0/staticwebassets/msbuild.build.poke-fall-api.props
poke-fall-api/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.poke-fall-api.props
poke-fall-api/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.poke-fall-api.props
poke-fall/package-lock.json
poke-fall-api/bin/Debug/net7.0/poke-fall-api.exe
poke-fall-api/bin/Debug/net7.0/poke-fall-api.pdb
poke-fall/package-lock.json
poke-fall-api/obj/Debug/*
