<mat-toolbar color="primary"style="position: fixed; z-index: 2;">
  <button matPrefix mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
    (click)="navigateHome()">
    <mat-icon svgIcon="logo"></mat-icon>
  </button>
  <mat-form-field color="accent" class="full-width">
    <button color="button" matPrefix mat-icon-button (click)="search()">
      <mat-icon svgIcon="search"></mat-icon>
    </button>

    <input matInput type="text" [(ngModel)]="queryString" (keydown.enter)="search()" placeholder="Ex. Pikachu" />
  </mat-form-field>
  <div *ngIf="screenWidth>=800">
    <button mat-button class="icon-button"> <mat-icon>list</mat-icon>Advanced</button>
    <button mat-button class="icon-button"> <mat-icon>help</mat-icon>Syntax</button>
    <button mat-button class="icon-button" (click)="randomSearch()"> <mat-icon>shuffle</mat-icon>Random</button>
  </div>
  <div *ngIf="screenWidth<=800">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>list</mat-icon>
        <span>Advanced</span>
      </button>
      <button mat-menu-item>
        <mat-icon>help</mat-icon>
        <span>Syntax</span>
      </button>
      <button (click)="randomSearch()" mat-menu-item>
        <mat-icon>shuffle</mat-icon>
        <span>Random</span>
      </button>
    </mat-menu>    
  </div>
</mat-toolbar>