// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@include mat.core();

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

$poke-fall-primary: mat.define-palette(mat.$teal-palette, 600);
$poke-fall-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$poke-fall-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$poke-light-theme: mat.define-light-theme(
  (
    color: (
      primary: $poke-fall-primary,
      accent: $poke-fall-accent,
      warn: $poke-fall-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

$poke-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $poke-fall-primary,
      accent: $poke-fall-accent,
      warn: $poke-fall-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@media (prefers-color-scheme: light) {
  @include mat.all-component-colors($poke-light-theme);
}
@media (prefers-color-scheme: dark) {
  @include mat.all-component-colors($poke-dark-theme);
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.remove-mat-expansion-panel-padding .mat-expansion-panel-content .mat-expansion-panel-body{
  padding: 0 !important;
}
